.support-header {
  padding: 15px 50px;
}
.support-form-body {
	padding: 40px !important;
}
.thanks-screen {
	font-size: 33px;
	text-align: center;
	min-height: 70vh;
	margin: auto;
	padding: 60px;
}

.thanks-message {
	padding: 50px auto;
	margin-bottom: 70px;
}

.thanks-link {
	text-decoration: underline;
	color: rgb(16, 65, 65);
}

.message-theme {
	font-size: 30px !important;
}

.message-body {
	line-height: 25px !important;
}